.movie__list {
 /* padding: 0 3rem 3rem 3rem;*/
  display: block;


}
form{
  display: inline;
}

.list__title {
font-size: 1.75rem;
margin:  2.5rem;
}

.list__cards {
  display: flex;
  flex-wrap: wrap ;
  justify-content: center;
}
.form {
  position: relative;
}

.submit-search {
  position: absolute;
  right: 7px;
  top: 4px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  padding-right: 20px;
}

.close {
  position: absolute;
  right: 7px;
  top: 4px;
  background-color: transparent;
  color: black;
  border: none;
  cursor: pointer;
  margin-top: 150px;
  margin-right: 100px;

}

input {
  height: 3rem;
    width: 20rem;
    border-radius: 100px;
    border: none;
    border: 1px solid var(--border-clr);
    padding: 1rem 2rem;
    font-size: 1rem;
  
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.723);
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
   outline: none;  
  }
  
 /* button {
   background-color: white;
   color: black;
   padding: 0.3rem 0.3rem ;
   border: none;
    border: 1px solid var(--border-clr);
    border-color: black;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    outline: none;
   margin-left: 0.3rem;
   border-radius: 10px;
   font-size: 1rem;
   cursor: pointer;
   transition: background-color 250ms;
   
  }*/
  button:hover{
    color: blue;
  }

