.header {

    margin: 0 2.5rem;
    padding: .5rem 0;
    align-items: center;
   
    justify-content:space-between;
    
}
img{
  /*border: 1px solid rgb(99, 99, 99);*/
  box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.723);
}
/* -------------------------------*/
.w3rcontainer{
   border: 1px solid #cccfdb;
   border-radius: 2px;
} 
.hover-underline-animation {
  display: inline-block;
  position: relative;
  color: black;
}

.hover-underline-animation:after {
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: black;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}

.hover-underline-animation:hover:after {
  transform: scaleX(1);
  transform-origin: bottom left;
}
/* -------------------------------*/

.dropbtn {  
    padding: 4px 28px;
    border:none ;
    background-color: white;
    color: black;
    margin-right: 40px;
    margin-left: 20px;
    font-size: 1.3rem;
    cursor: pointer;
  }
  li{
    list-style-type: none; 
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    border-radius: 5px;
    display: none;
    position: absolute;
    background-color: white;
    min-width: 160px;
    /*border-color:white ;*/
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.723);
    z-index: 1;
  }
  li:hover{
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    box-shadow: 0 0px 10px 3px  rgba(0, 0, 0, 0.371);
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
 
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: white;
    color: blue;
  }

/* -------------------------------*/

input {
    width: 20rem;
    border-radius: 100px;
    border: none;
    border: 1px solid var(--border-clr);
    padding: 1rem 2rem;
    font-size: 1rem;
    border-color: black; 
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px,
      rgba(0, 0, 0, 0.06) 0px 1px 2px 0px;
    outline: none;   
  }

.headerLeft, .headerRight {
   
    align-items: center;
    
}

a > span{
    margin: 0 30px;
    font-size: 1.3rem;
    cursor: pointer;
    color: black;
}

a > span:hover {
    color: blue;
}

.header__icon {
    margin-left: 1rem;
    margin-right: 2rem;
    width: 130px;
    cursor: pointer;
}

.user__avatar {
    font-size: 2rem;
}

